<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Inercia website" />
    <title>Inércia - logged</title>

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

    <link rel="stylesheet" href="style.logged.css" />
    <link rel="stylesheet" href="modal.css" />
    <script type="module" src="logged.js"></script>
  </head>
  <body>
    <%- include('./partials/modal.ejs'); -%> <%- include('./partials/header.ejs'); -%> <%-
    include('./partials/hero_edit.ejs'); -%> <%- include('./partials/news_edit.ejs'); -%>
    <%- include('./partials/events_edit.ejs'); -%> <%- include('./partials/footer.ejs');
    -%>
  </body>
</html>
